# ------------------------------------
# 1. PyCharm/IDE files
# ------------------------------------
.idea/
*.iml
*.iws
*.ipr

# ------------------------------------
# 2. Python specific files
# ------------------------------------
# 虚拟环境目录
venv/
__pycache__/
*.pyc
*.egg-info/

# ------------------------------------
# 3. Operating System temporary files
# ------------------------------------
.DS_Store
Thumbs.db

# ------------------------------------
# 4. Other project specific files
# ------------------------------------
.env